<div>
    <form id="cookieForm" action="/api/session/login" method="POST">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Ingresar</button>
        <a href="/recoveryPassword">Olvidaste tu contraseña?</a>
    </form>
</div>